<!doctype html>
<html lang="en" ng-app="organizatronApp">
 <head>
   <meta charset="utf-8">
   <script src="bower_components/angular/angular.js"></script>
   <script src="js/app.js"></script>
   <script src="js/controllers/OrganizatronController.js"></script>
   <script src="js/services/MaterialFactory.js"></script>
   <title>organizatron App</title>
 </head>
 <body>
  <div id="organizatron" ng-controller="OrganizatronController as controller">
    <section>
      <label for="material-title">Material name: </label>
      <input id="add-material-title" type="text" ng-model="materialName">

      <label for="material-url">Material URL: </label>
      <input id="add-material-url" type="text" ng-model="materialurl">

      <label for="material-description">Description: </label>
      <input id="add-material-description" type="text" ng-model="materialDescription">

      <label for="material-tag">Tag: </label>
      <input id="add-material-tag" type="text" ng-model="materialTag">

      <button id="save-material" type="button" ng-click="controller.addMaterial({ name:materialName, materialUrl:materialurl, description:materialDescription, tag:materialTag })">Add Material</button>
    </section>

    <hr>

    <section id="material-list">
      <div class="materials" ng-repeat="material in controller.materials">
        <a href="{{ material.materialUrl }}">{{ material.name }}</a>
        <p> {{material.description}} </p>
        <p>tag: {{material.tag}}</p>
      </div>
    </section>

   </div>
 </body>
</html>
