<!doctype html>
<html lang="en" ng-app="organizatronApp">
 <head>
   <meta charset="utf-8">
   <script src="bower_components/angular/angular.js"></script>
   <script src="js/app.js"></script>
   <script src="js/controllers/OrganizatronController.js"></script>
   <script src="js/services/MaterialFactory.js"></script>
   <script src="js/services/MaterialService.js"></script>
   <script src="js/services/TagFactory.js"></script>
   <script src="js/services/TagService.js"></script>
   <script src="js/services/VoteService.js"></script>
   <title>organizatron App</title>
 </head>
 <body>
  <div id="organizatron" ng-controller="OrganizatronController as controller">
    <section>
      <label for="material-title">Material name: </label>
      <input id="add-material-title" type="text" ng-model="materialName">

      <label for="material-url">Material URL: </label>
      <input id="add-material-url" type="text" ng-model="link_url">

      <label for="material-description">Description: </label>
      <input id="add-material-description" type="text" ng-model="materialDescription">

      <label for="material-tag">Tag: </label>
      <input id="add-material-tag" type="text" ng-model="materialTag">

<button id="save-material" type="button" ng-click="controller.addMaterial({ title:materialName, link_url:link_url, description:materialDescription, tags:materialTag })">Add Material</button>
    </section>

    <hr>

    <section id="tag-list">
      <div class="tags" ng-repeat="tag in controller.tags">
        <p ng-click="controller.selectTag(tag)" id="{{ tag.id }}">{{ tag.name }}</p>
      </div>

      <button id="select-tags" type="button" ng-click="controller.fetchMaterials()">Fetch Material</button>
    </section>
    <hr>

    <section id="material-list">
      <div class="materials" ng-repeat="material in controller.materials">
        <a ng-href="{{ material.link }}">{{ material.title }}</a>
        <p>{{ material.description }}</p>
        <div class="material-tags" ng-repeat="materialTag in material.tags">
          <p>{{ materialTag.name }} Material ID: {{ material.id }} Tag ID: {{ materialTag.id }}  Votes: {{ materialTag.votes }}</p>
          <button id="vote-up" type="button" ng-click="controller.sendVote({material_id: material.id, tag_id: materialTag.id, value: 1}, materialTag)">Upvote</button>
          <button id="vote-down" type="button" ng-click="controller.sendVote({material_id: material.id, tag_id: materialTag.id, value: -1}, materialTag)">Downvote</button>
        </div>
      </div>
    </section>
   </div>
 </body>
</html>
